.padding-sides
{
padding-left: 50px;
padding-right: 50px;
}

.grey-row
{
    background-color: rgba(0,0,0,0.65);
    padding-top: 8px;
    padding-bottom: 8px;

}
.grey-row .grey-artwork-span{
    color: #FFFFFF;
    /* font-family: Lato; */
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}
.grey-row button:first-child
{
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    padding:4px 15px;
    border-radius: 4px;
}
.grey-row button:nth-child(2)
{
    border:none;
    background-color: #FFFFFF;
    border-radius: 6px;
    background-color: #315497;
     color: #FFFFFF;
     padding:5px 25px;
}
.grey-row button
{
    color: #595959;
    /* font-family: Lato; */
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-left: 10px; 
}