/******************LATO Font******************/

@font-face {
  font-family: "Lato Bold";
  src: local("Lato"), url(./Font/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./Font/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "New York Large Regular";
  src: local("New York Large Regular"),
    url(./Font/New-York/new-york-large_regular.ttf) format("truetype");
}
/******************LATO Font END******************/

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato";
}
.ant-btn {
  border-color: #e5e5e5 !important;
  border: 1px solid #e5e5e5 !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #658bd3 !important;
}
.ant-radio-inner::after {
  background-color: #658bd3 !important;
}

.ant-radio-wrapper {
  color: #595959 !important;
}
.modal-added .ant-modal-title {
  display: none;
}

.modal-added.ant-modal {
  max-width: 320px;
}
.modal-added .ant-modal-close {
  color: rgba(0, 0, 0, 0.25);
}

.modal-added .ant-modal-header {
  border: none;
}
.modal-added .ant-modal-footer {
  text-align: center;
  border: none;
}
.modal-added .ant-modal-close-x {
  font-size: 20px;
}
.modal-added .ant-modal-body p {
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
}
.modal-added .ant-modal-body {
  padding-bottom: 0;
}
.modal-added .ant-modal-footer {
  padding-top: 0;
  padding-bottom: 60px;
}
.modal-added .ant-btn-primary {
  color: #595959;
  background: none;
  border-color: none;
  text-shadow: none;
  box-shadow: none;
}

.modal-added .ant-btn span {
  border-color: #e5e5e5;
  color: #595959;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:hover span {
  background: none !important;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
  color: #595959 !important;
}

/* .ant-checkbox-checked .ant-checkbox-inner,
.ant-radio-inner::after {
  background-color: #315497 !important;
}

.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #315497 !important;
}
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #315497 !important;
} */

.align-left
{
text-align: left;
}
.ant-form-item-has-error .ant-input:focus
{
  box-shadow: none!important;
  border: 1px solid #FF0000!important;
  border-radius: 4px!important;
  background-color: #FFFFFF!important;
}